body {
    margin: 0;
    background: #1c1c1c;
    overflow: hidden;
    user-select: none;
}

* {
    margin: 0;
    display: block;
    box-sizing: border-box;
}

.splash-screen {
    font-family: monospace;
    font-size: 14px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#1c1c1c, #0c0c0c);
    color: #eee;
}

.camera {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.pin {
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(
        calc(var(--pinX, 0) * 1px - 50%), 
        calc(var(--pinY, 0) * 1px - 50%)
    );
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    transition: .1s ease;
}

.pin::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    background: var(--pinColor);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.camera-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10000;
    fill: white;
    padding: 10px;
}

.camera-toggle:active {
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.2);
}

.color-panel {
    z-index: 1000;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 80px;
    padding: 10px;
    max-width: 100%;
}

.color-panel-container {
    height: 100%;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
}

.color {
    background: var(--pinColor);
    height: 100%;
    width: 80px;
}

.color-value {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 32px;
    font-weight: bold;
    font-family: sans-serif;
    color: #333;
    background: rgb(255, 255, 255);
    width: 160px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#colorRed {
    background: rgb(var(--colorRed), var(--colorRed), var(--colorRed));
}

#colorGreen {
    background: rgb(var(--colorGreen), var(--colorGreen), var(--colorGreen));
}

#colorBlue {
    background: rgb(var(--colorBlue), var(--colorBlue), var(--colorBlue));
}
